.Home{
    margin-top: 2rem;
    text-align: center;
}

.items-container{
    padding: 3rem;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 2rem;
    z-index: 1;
    
}

.item-img{
    height: 250px;
}

.Spin{
    margin-top: 13rem;
}

@media (max-width: 600px) {
    .items-container{
        padding: 0;
        justify-content: center;
    }
}